.movie-card{
    width: 90%;
    height: 500px;
    border: thin solid black;

    display: flex;
    justify-content: space-between;

    label{
        font-weight: 900;
    }

    img{
        flex: 1 0 20%;
        object-fit: cover;
    }

    & > :nth-child(2){
        flex: 1 1 20%;
        background-color: orange;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    & > :nth-child(3){
        flex: 1 1 30%;
        background-color: blue;
    }


    & > :nth-child(4){
        flex: 1 1 30%;
        background-color: red;
    }
}