$header-height: 200px;
$header-bg-color: pink;
$navlink-height: 100px;
$navlink-width: 200px;

.search-bar{
    background-color: violet;
    flex: 0 0 400px;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    & > :first-child{
        
        color: purple;
        font-weight: 900;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;

        label{
            margin-right: 10px;
        }

        select{
            
            flex: 1 0 auto;
            font-size: 80px;

            option{
                height: 100px;
                padding: 10px 20px;
            }
        }
    }

    & > :last-child{
    
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        input{
            margin-right: 10px;
            padding: 0 20px;
            height: 100%;
            flex: 1 0 auto;
            border-radius: 10px;
            border: none;
        }

        button{
            background-color: purple;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
        }
        
    }
}